.companies {
  position: relative;
  z-index: 11;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  @media (min-width: 992px) {
    // (SM)
    padding: 8rem 0 6rem 0;
  }
  h2 {
    color: white;
  }
}
